/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈灵动体 VF Thin";src: url("//at.alicdn.com/wf/webfont/XdDpmDjBhqXy/wTnPIFo5Ov7e.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/XdDpmDjBhqXy/QnrBwYqdOeye.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "ali_english";
    src: url("./alimama/AlimamaAgileVF-Thin.ttf");
  }
  @font-face {
    font-family: "ali_kai";
    src: url("./alidakai/AlimamaDongFangDaKai-Regular.ttf");
  }
  @font-face {
    font-family: "ali_hei";
    src: url(./alihei/AlimamaShuHeiTi-Bold.ttf);
  }
  @font-face {
    font-family: "ali_fang";
    src: url("./alifang/AlimamaFangYuanTiVF-Thin.ttf");
  }