html,body,#app{
    /* display: flex;
    justify-content: center; */
    margin: 0;
    padding: 0;

    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    background-image: url("../assets/loginbg3.jpg");
    background-size: contain;
    /* background-color: #15559a; */
  }